<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        required
        placeholder="Post Title"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Choose Image</button>
      <input type="file" #filePicker>
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="3"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        required
        placeholder="Post content"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      >
    </mat-form-field>
    <hr />
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!postForm.valid"
    >
      Save Post
    </button>
  </form>
</mat-card>
